<h1>Welcome to the Carnival</h1>

<h3>What would you like to play?</h3>

<%=  link_to 'Magic 8 Ball', magic8ball_path %>
<%=  link_to 'Secret Number', secretnumber_path %>
<%=  link_to 'Rock Paper Scissors', rock_paper_scissors_path %>
