<h1>Rock Paper or Scissors</h1>
<h3>Choose one, I have already chosen</h3>

<form class="" action="/rock_paper_scissors/<%= ["win", "draw", "lose"].sample %>">
  <button>Rock</button>
</form>

<form class="" action="/rock_paper_scissors/<%= ['win', 'draw', 'lose'].sample %>">
  <button>Paper</button>
</form>

<form class="" action="/rock_paper_scissors/<%= ['win', 'draw', 'lose'].sample %>">
  <button>Scissors</button>
</form>
