<h1>Guess a Number Between 1 and 10</h1>
<form action="/secretnumber/<%= [true, false].sample ? "correct" : "incorrect" %>">
  <select class="" name="">
    <% (1..10).each do |n| %>
    <option><%=  n %></option>
    <% end %>
  </select>


  <button>Make Guess</button>
</form>
